.main-bg{
    background-color: #ffc2a0;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: white;
    height: 90%;
    width: 95%;
    border-radius: 12px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
} 
h1{
    text-align: center; 
    padding-top: 15px;
    font-size: 35px;
    text-decoration: underline;
    color: #ffc2a0;
}
